.btn {
  width: 346px;
  height: 49px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  background: #d9d9d9;
  border-radius: 4px;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn:hover {
  background-color: #c5c2c2;
}

.btn:active {
  background-color: #b7b5b5;
}
