.nav {
  display: flex;
  gap: 114px;
  align-items: center;
  padding: 43px 4px 10px 0px;
  position: fixed;
  top: 0;
  background-color: #fafafa;
  z-index: 999;
}

.link {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #727883;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  margin-bottom: 20px;
  padding-top: 83px;
}

.subtitle {
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -1.7px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.5;
  width: 295px;
  margin: 0;
  margin-bottom: 36px;
}

.message {
  left: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
  opacity: 0.75;
  position: absolute;
  top: 560px;
}

.error {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #b41515;
  padding-top: 20px;
}
