.pageWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-right: calc(50% - 186px);
  padding-left: calc(50% - 186px);
  padding-top: 38px;
}

.logo {
  margin-bottom: 8px;
}

.year {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: #000000;
  opacity: 0.25;
  margin: 0;
  margin-bottom: 40px;
}
