.wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fafafa;
  z-index: 999;
  padding: 43px 180px 10px 0px;
}

.back {
  margin-right: 24px;
  cursor: pointer;
}
